 .mainHome{
    display:flex;
    height:85vh;
}

.peopleWrapper{
    border: solid gray;
    overflow-y: scroll;  
    min-width:35vh;
}

.postWrapper{
    border:solid gray;
    overflow-y: auto;
}
.mainPost{
    display:flex;
    flex-direction: column;
}
.footerH{
    background-color: #1B1464;
    color: #FFC312;
    width: -webkit-fill-available;
} 
